.slide-enter-active {
  animation: slide-in 300ms ease-out forwards;
}

.slide-leave-active {
  animation: slide-out 300ms ease-out forwards;
}

@keyframes slide-in {
  from {
    bottom: -134px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -134px;
    opacity: 0;
  }
}
