.flex-container {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-evenly {
    justify-content: space-evenly;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.flex-column {
    flex-direction: column;
    &--reverse {
      flex-direction: column-reverse;
    }
  }
  &.align-center {
    align-items: center;
  }
}
