/* Converts px in rem. 
   ex: margin: rem(10) rem(20); 
*/
@function rem($pixels, $context: 16) {
	@return #{$pixels/$context}rem;
}

// Grid size
$--grid-size: 8 !default; /* 8px */
@function grid($number) {
  @return rem($--grid-size*$number);
}

/* box shadow mixin */
@mixin boxShadow ($horizontal, $vertical, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $horizontal $vertical $blur $size $color;
    -moz-box-shadow: inset $horizontal $vertical $blur $size $color;
    box-shadow: inset $horizontal $vertical $blur $size $color;
} @else {
    -webkit-box-shadow: $horizontal $vertical $blur $size $color;
    -moz-box-shadow: $horizontal $vertical $blur $size $color;
    box-shadow: $horizontal $vertical $blur $size $color;
  }
}
