%tp-m-exa{
  font-size: rem(60);
  font-weight: 500;
  line-height: rem(96);
}

%tp-m-tera{
  font-size: rem(42);
  font-weight: 500;
  line-height: rem(72);
}

%tp-m-giga{
  font-size: rem(36);
  font-weight: 500;
  line-height: rem(56);
}

%tp-m-mega{
  font-size: rem(30);
  font-weight: 500;
  line-height: rem(48);
}

%tp-m-kilo{
  font-size: rem(22);
  font-weight: 500;
  line-height: rem(40);
}

%tp-m-hecto{
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(32);
}

%tp-m-deca{
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(32);
}

%tp-m-deci{
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24);
}

%tp-m-centi{
  font-size: rem(12);
  font-weight: 500;
  line-height: rem(16); // line-height: rem(24);
}

%tp-m-mili{
  font-size: rem(11);
  font-weight: 500;
  line-height: rem(16);
}

%tp-m-micro{
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(16);
}

%tp-m-nano{
  font-size: rem(9);
  font-weight: 500;
  line-height: rem(16);
}


%tp-r-exa{
  font-size: rem(60);
  font-weight: 400;
  line-height: rem(96);
}

%tp-r-tera{
  font-size: rem(42);
  font-weight: 400;
  line-height: rem(72);
}

%tp-r-giga{
  font-size: rem(36);
  font-weight: 400;
  line-height: rem(56);
}

%tp-r-mega{
  font-size: rem(30);
  font-weight: 400;
  line-height: rem(48);
}

%tp-r-kilo{
  font-size: rem(22);
  font-weight: 400;
  line-height: rem(40);
}

%tp-r-hecto{
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(32);
}

%tp-r-deca{
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(32);
}

%tp-r-deci{
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
}

%tp-r-centi{
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(16); // line-height: rem(24);
}

%tp-r-mili{
  font-size: rem(11);
  font-weight: 400;
  line-height: rem(16);
}

%tp-r-micro{
  font-size: rem(10);
  font-weight: 400;
  line-height: rem(16);
}

%tp-r-nano{
  font-size: rem(9);
  font-weight: 400;
  line-height: rem(16);
}

// Extra
%tp—tab-micro{
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(20);
  text-transform: uppercase;
}

%tp—button-micro{
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(16);
  text-transform: uppercase;
}

%tp-label-nano{
  font-size: rem(9);
  font-weight: 500;
  line-height: rem(16);
  text-transform: uppercase;
}

%tp—sectionbox-nano{
  font-size: rem(9);
  font-weight: 400;
  line-height: rem(20);
  text-transform: uppercase;
}
